<div class="l-docs__meta">
    <div class="l-docs__sticky-container">
        {%- if pagename != "search" and builder != "singlehtml" %}
            <aside class="p-table-of-contents">
                <div class="p-table-of-contents__section">
                    <div class="p-toc-feedback-block">
                        {% include "sections/feedback.html" %}
                    </div>
                    <h2 class="p-table-of-contents__header">On this page</h2>
                    <nav class="p-table-of-contents__nav" aria-label="Table of contents">
                        <ul class="p-table-of-contents__list p-list">
                            {% include "localtoc.html" %}
                        </ul>
                    </nav>
                    {% if help_links %}
                    <div class="p-table-of-contents__section">
                        <h2 class="p-table-of-contents__header">{{ help_links.title }}</h2>
                        <ul class="p-table-of-contents__list p-list">
                            {% for link in help_links.links %}
                            <li class="p-table-of-contents__item">
                                <a class="p-table-of-contents__link" href="{{ link.url }}"> {{ link.text }} </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                </div>
            </aside>
        {%- endif %}
    </div>
</div>
