<div class="l-docs__meta">
    <div class="l-docs__sticky-container">
        {%- if pagename != "search" and builder != "singlehtml" %}
            <aside class="p-table-of-contents">
                <div class="p-table-of-contents__section">
                    <div class="p-toc-feedback-block">
                        {% include "sections/feedback.html" %}
                    </div>
                    <h2 class="p-table-of-contents__header">On this page</h2>
                    <nav class="p-table-of-contents__nav" aria-label="Table of contents">
                        <ul class="p-table-of-contents__list p-list">
                            {% include "localtoc.html" %}
                        </ul>
                    </nav>
                </div>
            </aside>
        {%- endif %}

        {% if help_links %}
        <aside class="p-help-nav">
            <nav class="p-side-navigation" aria-label="{{ help_links.title }}">
                <ul class="p-side-navigation__list">
                    {% for link in help_links.links %}
                    <li class="p-side-navigation__item">
                        <a class="p-side-navigation__link" href="{{ link.url }}">{{ link.text }} <i class="p-icon--external-link"></i></a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </aside>
        {% endif %}


    </div>
</div>
